body {
    background-color: black;
    background-image: url("./assets/concert-background.jpg");
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}
h1 {
    color: #ffffff;
    text-align: center;
}
h3 {
    color: white;
}
p {
    color: rgb(215, 215, 215);
}
a:link {
    color: #f1f1f1;
    text-decoration: none;
}
a:hover {
    color:#a3a0a0;
    text-decoration: underline;
}
a:visited {
    color: #a3a0a0;
    text-decoration: none;
}
#home-icon {
    float: left;
    padding: 8px 8px;
    display: none;
}
#saved-icon {
    float: right;
    padding: 8px 8px;
}
#featured-events {
    margin: auto;
    width: 75%;
    min-width: 850px;
    max-width: 900px;
    align-content: center;    
}
.featured-card {
    float: left;
    padding: 10px;
    border: 4px solid rgb(84,84,84, 0.5);
    background-color: rgb(0,0,0, 0.75);
    padding: 10px;
    margin-left: 25px;
    border-radius: 3px;
    max-width: 250px;
}
.featured-img {
    width: 225px;
}
.search-bar {
    margin: auto;
    width: 75%;
    min-width: 850px;
    max-width: 900px;
    background-color: rgb(84, 84, 84, 0.5);
    height: 40px;
    align-content: center;
    padding: 0px 0px;
    margin-bottom: 10px;
    border-radius: 3px;
} 
.search-form {
    margin: auto;
    width: 20%;
    min-width: 200px;
    padding: 6px;
}
.state-list {
    padding: 6px 36px;
    border: none;
    border-radius: 4px;
    background-color: #b8b8b8;
}
#concert-banner {
    margin: auto;
    width: 75%;
    min-width: 850px;
    max-width: 900px;
    padding: 0px 0px;
    border-radius: 3px;
    display: block;
}
.banner-image {
    width: 100%;
    margin: auto;
    min-width: 850px; 
    max-width: 900px;
}
#event-container {
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 15px;
}
#saved-events {
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 15px;
}
.event-card {
    margin: auto;
    height: 185px;
    width: 75%;
    min-width: 842px;
    max-width: 892px;
    border: 4px solid rgb(84,84,84, 0.5);
    background-color: rgb(0,0,0, 0.75);
    padding: 10px 0px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.saved-card {
    margin: auto;
    height: 185px;
    width: 75%;
    min-width: 842px;
    max-width: 892px;
    border: 4px solid rgb(84,84,84, 0.5);
    background-color: rgb(0,0,0, 0.75);
    padding: 10px 0px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.event-details {
    margin-left: 25px;
}
.event-thumb {
    float: left;
    padding: 5px 25px;
    align-content: center;
}
.image {
    width: 300px;
    border-radius: 3px;
}
